 main section{
    border: 3px solid black;
    background-color: rgb(24, 127, 217);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
 }
 main h1{
    font-size: 24px;
    margin-bottom: 10px;
 }
 main p{
    font-size: 16px;
 }

 /*Estilo para section de imagens*/
 .test1{
    border: 3px solid black;
}
 section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
 }
 section div{
    flex: 1;
    padding: 20px;
 }
 section img{
    max-width: 200%;
 }
 .saiba-mais{
    border: 20px solid rgb rgb(14, 197, 66);
    display: inline-block;
    background-color: rgb(24, 210, 251);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
 }
 .saiba-mais:hover{
   background-color: #efe2e9;
 }
.sla1{
   margin: 0;
   text-align: center;
   max-width: 300px;
   max-height: 300px;
}